* {
    background-color: #fffbf7;
    font-family: 'Open Sans', Serif;
    text-align: center;
}

.header {
    color: #025157;
    text-align: left;
    font-size: 0;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #fffbf7;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header li {
    display: inline;
}

.header > * {
    display: inline-block;
    font-family: 'Open Sans', serif;
    font-size: 16px;
    vertical-align: middle;
}

.header .logo {
    width: 15%;
}

.header .navbar {
    width: 70%;
    text-align: center;
}

.header .navbar ul {
    padding: 0;
}

.header .actions {
    width: 15%;
    color: #67b54b;
}

button #trial {
    background-color: #67b54b;
    color: #fffbf7;
}

form input {
    background-color: white;
    border-radius: 12px;
    width:250px;
}

form button {
    background-color: #025157;
    color: #fff;
}

}

body {
    color: #025157;
    text-align: center;
    margin: 0;
}

h1 {
    color: #025157;
    font-family: 'Alegreya', serif;
    font-size: 60px;
    margin-top: 150px;
}

#subheader {
    font-family: 'Slabo 27px', serif;
    font-size: 20px;
    color: #46484c;
}

h2 {
    color: #025157; 
    font-family: 'Alegreya', serif;
    font-size: 40px;
    text-align: left;
}

#promo {
    display: flex;
    align-items: center;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: left;
}

#promo-text > p {
    text-align: left;
}

#text-publish {
    font-family: 'Open Sans', serif;
    color: #343434;

}

#start-publishing {
    color: #b6b6b6;
}

.promo-text {
    color: #8b8b8bcc;
}

.first {
    font-size:20px;
}

.main {
    margin-top: 140px;
}


button #email {
    background-color: #025157;
    color: #fff;
    border: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 6px 20px;
    margin-left: -10px;
}

input {
    border: 1px solid #b6b6b6;
    padding: 6px 20px;
    width: 60%;
    max-width: 250px;
}

/* hallo */
